.slika1{
    background-image :url("../images/slika1.jpg");
}
.slika2{
    background-image :url("../images/slika2.jpg");
}
.slika3{
    background-image :url("../images/slika3.jpg");
}
.slika4{
    background-image :url("../images/slika4.jpg");
}
.slika5{
    background-image :url("../images/slika5.jpg");
}
.slika6{
    background-image :url("../images/slika6.jpg");
}
.slika7{
    background-image :url("../images/slika7.jpg");
}
.slika8{
    background-image :url("../images/slika8.jpg");
}
.slika9{
    background-image :url("../images/slika9.jpg");
}
.slika10{
    background-image :url("../images/slika10.jpg");
}
